<div class="ui inverted dimmer" [class.active]="loading">
  <div class="ui massive text loader">Loading</div>
</div>


<div class="jumbotron bg-white text-center">
  <h2 class="textStyle"> COVID19 States Tracker</h2>
  <hr>
  <div *ngIf="case$ | async as stateData">
    <div class="mx-auto">
      <div class="form-group col-lg-5 mx-auto">
        <label for="stateSelect">
          <h4 class="textStyle">Select State</h4>
        </label>
        <select name="" class="form-control" id="stateSelect" #select (change)="onSelectState(select.value)">
          <option [value]=st.state *ngFor="let st of stateData ">{{st.state}}</option>
        </select>

      </div>
    </div>

    <app-dashboard *ngIf="countryData" [countryData]="countryData"></app-dashboard>


  </div>

  <div class="row">
    <div class="col">
      <table class="ui red table" [style.height.px]="400">
        <thead>
          <tr>
            <th>Disrict <br>
              <button type="button" class="btn" (click)="sorting('dist_name','desc')"><i
                  class="fa fa-long-arrow-down"></i></button>
              <button type="button" class="btn" (click)="sorting('dist_name','asc')"><i
                  class="fa fa-long-arrow-up"></i></button>
            </th>
            <th>Active <br>
              <button type="button" class="btn" (click)="sorting('active','desc')"><i
                  class="fa fa-long-arrow-down"></i></button>
              <button type="button" class="btn" (click)="sorting('active','asc')"><i
                  class="fa fa-long-arrow-up"></i></button>

            </th>
            <th>Confirmed <br>
              <button type="button" class="btn" (click)="sorting('confirmed','desc')"><i
                  class="fa fa-long-arrow-down"></i></button>
              <button type="button" class="btn" (click)="sorting('confirmed','asc')"><i
                  class="fa fa-long-arrow-up"></i></button>
            </th>
            <th>Recovered <br>
              <button type="button" class="btn" (click)="sorting('recovered','desc')"><i
                  class="fa fa-long-arrow-down"></i></button>
              <button type="button" class="btn" (click)="sorting('recovered','asc')"><i
                  class="fa fa-long-arrow-up"></i></button>
            </th>
            <th>Deceased <br>
              <button type="button" class="btn" (click)="sorting('deceased','desc')"><i
                  class="fa fa-long-arrow-down"></i></button>
              <button type="button" class="btn" (click)="sorting('deceased','asc')"><i
                  class="fa fa-long-arrow-up"></i></button>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let S_Case of complete_data">
          <tr>
            <td>{{S_Case['dist_name']}}</td>
            <td>{{S_Case['data'].active}}</td>
            <td>{{S_Case['data'].confirmed}} <br>
              <span>
                <i class="fa fa-arrow-up"></i> {{S_Case['data'].cChange}}
              </span>
            </td>
            <td>{{S_Case['data'].recovered}} <br>
              <span>
                <i class="fa fa-arrow-up"></i> {{S_Case['data'].rChange}}
              </span>
            </td>
            <td>{{S_Case['data'].deceased}} <br>
              <span>
                <i class="fa fa-arrow-up"></i> {{S_Case['data'].dChange}}
              </span>
            </td>
          </tr>
        </tbody>

      </table>

    </div>
    <div class="col">
      <div class="row">
        <canvas baseChart [datasets]="barChartData1" [colors]="barChartColor1" [labels]="barChartLabels"
          [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
      <div class="row">
        <canvas baseChart [datasets]="barChartData2" [colors]="barChartColor2" [labels]="barChartLabels"
          [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
      <div class="row">
        <canvas baseChart [datasets]="barChartData3" [colors]="barChartColor3" [labels]="barChartLabels"
          [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
      <div class="row">
        <canvas baseChart [datasets]="barChartData4" [colors]="barChartColor4" [labels]="barChartLabels"
          [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </div>

  </div>
</div>